<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://vk.com/js/api/openapi.js?168" type="text/javascript"></script>
  <title>Friends filter</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__title">Выберите друзей</div>
    </header>
    <div class="content">
      <div class="area-friends friends">
        <div class="friends__filter">
          <input type="text" class="friends__input" placeholder="Начните вводить имя друга">
        </div>
        <div class="friends__title">Все друзья</div>
        <div class="friends__container">

        </div>
      </div>
      <div class="area-friends best-friends">
        <div class="friends__filter">
          <input type="text" class="friends__input best-friends__input" placeholder="Начните вводить имя друга">
        </div>
        <div class="friends__title">Лучшие друзья</div>
        <div class="friends__container best-friends__container">

        </div>
      </div>
    </div>
    <footer class="footer">

    </footer>
  </div>
</body>

</html>